body {
  background-image: url(https://images2.alphacoders.com/928/928887.jpg);
  /*upload new picture to own host */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;
}

header .img {
  object-fit: contain;
  max-width: 350px;
}

section .img {
  object-fit: contain;
  max-width: 350px;
}

.myself {
  font-style: italic;
  text-align: center;
}

/* START!! MAIN CONTAINERS OF MY WEBPAGES */

.header {
  background-color: rgb(239, 239, 239);
  box-shadow: 8px 6px 1px 2px #000000;
  opacity: 100%;
  margin-top: 15px;
  padding: 30px;
}

.main {
  width: 77%;
  background-color: #F6F4F3;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.10),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.13),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.17),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.19),
  100px 100px 80px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  max-width: 1200px;
  text-align: center;


  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.music {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 239, 239);
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.073),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.105),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.13),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.155),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.187),
  100px 100px 80px rgba(0, 0, 0, 0.26)
;
  opacity: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 28px;
  padding: 30px 10px;
}

.experiments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  gap: 9px;
  margin: 0 auto;
  padding: 10px 10px;


  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.experiments img {
  max-width: 600px;
  height: 400px;
  object-fit: scale-down;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 1px #fff;
}

.experiments::after {
  content: "";
  width: 300px;
}


/* END!! MAIN CONTAINERS OF MY WEBPAGES */


/* CONTENTS TEXT AND LINKS */


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 3px;
  background-color: rgb(30, 30, 30);
  border-color: rgb(30, 30, 30);
}

.bottom-line {
  margin-top: 35px;
}

h1, h2, h3, p{
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  position: relative;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 15px;
}

.hovername {
  --h: 1.2em;   /* the height */
  
  line-height: var(--h);
  color: #0000;
  text-shadow: 
    0 var(--_i,var(--h)) #fff,
    0 0 rgb(0 0 0 / var(--_i,1));
  background: 
    linear-gradient(#183059 0 0) 
    bottom/100% calc(100% - var(--_i,1)*100%) no-repeat;
  overflow: hidden;
  transition: 0.3s;
}
.hovername:hover {
  --_i: 0;
}

.hovername:hover span {
  display: none;
  content: none;
}

.hovername:hover::before {
  content: "hello from ";
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
}


h3 {
  font-weight: 500;
  font-style: oblique;
}

.subtitle {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.descrip {
  display: inline-block;
  text-align: center;
  width: 80%;
  font-size: small;
}

footer {
  font-size: 10px;
  justify-content: space-evenly;
}

.endremark {
  margin-bottom: 5px;
  text-align: center;
}

a {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: lightblue;
}

a:active {
  color: lightblue;
}

/* FLEXBOXES ON MUSIC PAGE */

.song1,.song2, .song3, .song4 {
  flex-grow: 1;
  flex-wrap: wrap;
}

/* SOCIAL LINKS GOOOOO */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.social-links {
    font-size: 14px;
  text-align: center;
  margin-top: 0%;
}
.social-links a {
    width: 20px;
    height: 20px;
    line-height: 20px !important;
    position: relative;
    margin: 0px 10px;
    text-align: center;
    display: inline-block;
    color: #222;
    
    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);  
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
}
.social-links a i,
.social-links a span {
    position: relative;
    top: 2px;
    left: 1px; 
}
.social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #222;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);  
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
    
}
.social-links a:hover {
    color: rgb(255, 255, 255);
}
.social-links a:hover:before {
    background: #222;
}
