html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://images2.alphacoders.com/928/928887.jpg);
  /*upload new picture to own host */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;
}

.Roboto{font-family:'Roboto';font-weight:400;} /* 400 is industry standard for normal */

.RobotoLight{font-family:'Roboto';font-weight:300;} /* 300 is industry standard for normal */

.RobotoMedium{font-family:'Roboto';font-weight:500;} /* 500 is industry standard for normal */


/* NAVBAR */

ul {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {

  float: left;
  border-right: 1px solid #222;
}

li a {
  font-size: 10px;
  font-weight: 400;
  display: block;
  color: #222;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

/* ADD SCRIPTS FOR ACTIVE PAGE */
.active {
  background-color: #04AA6D;
}

li a:hover {
  background-color: #fff;
}


/* MAIN CONTAINERS */

.header {
  background-color: rgb(239, 239, 239);
  box-shadow: 8px 6px 1px 2px #000000;
  opacity: 90%;
  margin-top: 15px;
  padding: 10px;
}


.main {
  width: 80%;
  max-width: 1000px;
  background-color: #F6F4F3;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.10),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.13),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.17),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.19),
  100px 100px 80px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px;
  text-align: center;


  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* CONTENTS TEXT AND LINKS */

.hovername {
  --h: 1.2em;   /* the height */
  
  line-height: var(--h);
  color: #0000;
  text-shadow: 
    0 var(--_i,var(--h)) #fff,
    0 0 rgb(0 0 0 / var(--_i,1));
  background: 
    linear-gradient(#183059 0 0) 
    bottom/100% calc(100% - var(--_i,1)*100%) no-repeat;
  overflow: hidden;
  transition: 0.3s;
}
.hovername:hover {
  --_i: 0;
}

.hovername:hover span {
  display: none;
  content: none;
}

.hovername:hover::before {
  content: "hello from ";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1000px) {
  img {
    width: 100%;
  }
}


header .img {
  object-fit: contain;
  max-width: 750px;
}

section .img {
  object-fit: contain;
  max-width: 350px;
}

hr {
  height: 1px;
  background-color: rgb(30, 30, 30);
  border-color: rgb(30, 30, 30);
}

.bottom-line {
  margin-top: 35px;
}

h1, h2, h3, p{
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  position: relative;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

.myself {
  font-style: italic;
  text-align: center;
  font-weight: 400;
}

.school {
  text-decoration: overline underline;
  text-underline-offset: 3px;
  text-align: center;
  font-weight: 400;
}

h2 {
  color: rgb(220 38 38);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}


h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 12px;

  text-decoration: underline;
  text-underline-offset: 2px;
}

p {
  margin: 0px;
  padding: 0px;
}


@media only screen and (max-width: 599px) {
  .education, section {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .education, section {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .education, section {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.education {
  display: block;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  justify-content: center;
  align-content: center;
  align-items: center;
}

section {
  display: block;
  column-count: 2;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.subtitle {
  color: rgb(86 81 229);
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}

.descrip {
  color: #222;
  display: inline-block;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.0);
  padding: 0px;
  margin: 0;
  width: 90%;
  font-size: 10px;
}

.descrip::first-letter {
  font-size: 12px;
}

/* FOOTER */

footer {
  font-size: 10px;
  justify-content: space-evenly;
}

.endremark {
  color: rgb(0, 147, 17);
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

a {
  color: green;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}


/* SOCIAL LINKS GOOOOO */

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.social-links {
    font-size: 14px;
  text-align: center;
  margin-top: 0%;
}
.social-links a {
    width: 20px;
    height: 20px;
    line-height: 20px !important;
    position: relative;
    margin: 0px 10px 10px 10px;
    text-align: center;
    display: inline-block;
    color: #222;
    
    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);  
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
}
.social-links a i,
.social-links a span {
    position: relative;
    top: 2px;
    left: 1px; 
}
.social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #222;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);  
    -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
    -ms-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000); 
    transition: all 0.3s cubic-bezier(0.300, 0.100, 0.600, 1.000);
    
}
.social-links a:hover {
    color: rgb(255, 255, 255);
}
.social-links a:hover:before {
    background: #222;
}
