body {
  background-image: url(https://images2.alphacoders.com/928/928887.jpg);
  /*upload new picture to own host */
  font-family: serif;
  padding: 20px;
}


h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 12px;
}

h1, h2, h3, p{
  text-align: center;
}
.myself {
  font-style: italic;
  text-align: center;
}



.main {
  width: 80%;
  background-color: rgb(239, 239, 239);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 30px;
  max-width: 1200px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 5px;
  background-color: lightblue;
  border-color: lightblue;
}

.bottom-line {
  margin-top: 35px;
}

h1, h2, h3 {
  font-family: monospace, serif;
}

.subtitle {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;

}

.classtitle, .interesttitle {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.descrip {
  text-align: left;
  width: 100%;
  font-size: small;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.endremark {
  margin-bottom: 5px;
  text-align: center;
}

a {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: lightblue;
}

a:active {
  color: lightblue;
}